# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
# Exception : code source Flutter
!barrelmcd_flutter/lib/
!barrelmcd_flutter/lib/**
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environnement virtuel
.venv/
venv/
ENV/
env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Fichiers de sauvegarde
*.bak
*.tmp
*.temp

# Fichiers de logs
*.log
logs/ 